.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  padding: .5em 1em;
}
.storybook-button--primary {
  background-color: var(--primary);
  color: var(--lightThemeText)
}
.storybook-button--secondary {
  border: 1px solid var(--border);
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: .8em;
}
.storybook-button--medium {
  font-size: 1em;
}
.storybook-button--large {
  font-size: 1.2em;
}

@media (prefers-color-scheme: dark) {
  .storybook-button--secondary {
      color: var(--darkThemeText)
  }
}

@media (prefers-color-scheme: light) {
  .storybook-button--secondary {
      color: var(--lightThemeText)
  }
}
