.chart-gauge {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 150px;
    border-radius: 10px;
    padding: 10px 40px;
    aspect-ratio: 1;
}

.label {
    width: 100%;
    text-align: center;
}

.percent {
    width: 100%;
    text-align: center;
}
@media (prefers-color-scheme: dark) {
    .chart-gauge {
        background: var(--darkThemeContrastBackground)
    }
}

@media (prefers-color-scheme: light) {
    .chart-gauge {
        background: var(--lightThemeBackground)
    }
}