@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

.credit_card {
    padding: 15px 25px;
    width: fit-content;
    min-width: fit-content;
    background: rgb(2,0,36);
    background: linear-gradient(120deg, var(--primary) 15%, var(--secondary) 100%);
    border-radius: 15px;
    color: white;
    aspect-ratio: 20/3;
}

.credit_card p {
    margin: 0;
    font-family: 'Oxanium', cursive;
    color: white;
}

.credit_card .accountNumber {
    margin: 20% 2rem 0 0;
    white-space: nowrap;
    font-size: 1.25rem;
    font-weight: 500;
}

.expirationDate {
    font-weight: 200;
}

.solde {
    font-size: 1.5rem;
    font-weight: 600;
}