.modal-container {
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(107, 107, 107, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    width: 100%;
    height: 100%;
}

.modal-container .modal {
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    width: 100%;
    max-width: 420px;
}
.modal-container .modal .buttons-container {
    display: flex;
    flex-direction: column;
}

@media (prefers-color-scheme: dark) {
    .modal {
        background: var(--darkThemeBackground)
    }
}

@media (prefers-color-scheme: light) {
    .modal {
        background: var(--lightThemeBackground)
    }
}
